<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
    <servlet>
        <servlet-name>Game2048Servlet</servlet-name>
        <servlet-class>com.example.Game2048Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Game2048Servlet</servlet-name>
        <url-pattern>/game2048</url-pattern>
    </servlet-mapping>
</web-app>

